<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/index.css">
</head>
<body>
    <h1>Homepage</h1>
    <form action="/candidate" method="POST">
        <p>
            <label for="name">Name</label>
            <input type="text" name="name">
        </p>
        <p>
            <label for="party">Party</label>
            <input type="text" name="party">
        </p>
        <p>
            <label for="age">Age</label>
            <input type="text" name="age">
        </p>
        <p>
            <label for="constituency">Constituency</label>
            <input type="text" name="constituency">
        </p>
        
        <button type="submit" name="submit">Submit</button>
    </form>
</body>
</html>