<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/index.css">
</head>
<body>
    <h1>Homepage</h1>
    <form action="/changePassword" method="POST">
        <p>
            <label for="aadharCardNumber">AadharCard Number</label>
            <input type="text" name="aadharCardNumber">
        </p>
        <p>
            <label for="oldpassword">Old Password</label>
            <input type="password" name="oldpassword">
        </p>
        <p>
            <label for="newpassword">New Password</label>
            <input type="password" name="newpassword">
        </p>
        
        <button type="submit" name="submit">Submit</button>
    </form>
</body>
</html>